body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
  position: absolute;
  top: 0; 
  width: 100%;
  display: flex;
  justify-content: flex-end;
   padding: 20px;
}
section header ul{
   display: flex; 
   justify-content: center;
   align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
  color: rgba(24, 24, 24, 0.89);
   text-decoration: none; 
   font-size: 13px;
}
section header ul li button{
    background-color: rgba(65, 65, 235, 0.842);
    border: none;
    outline: none;
    padding: 8px 15px;
    color: #ffffff;
    border-radius: 30px;
}
section .main{
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .searchbox{
    width: 100%;
    margin-top: 20px;
}
section .main .searchbox .search{
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 30px;
    border: 1px solid rgb(202, 201, 201);
    outline: 0;
    font-size: 15px;
}
section .main .searchbox {
    position: relative;
}
section .main .searchbox .icons {
    position:absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content:space-between;
   padding-left: 20px;
   padding-bottom: 20px;
    pointer-events:none;
}
